DataFile              {{DataFile}}
DataDirectory         {{DataDirectory}}
OutputFile            {{OutputFile}}
interpolate           no
PhysicalUnit          mm
ScaleFactor           1.0
NoiseModels           {{NoiseModels}}
seasonalsignal        {{seasonalsignal}}
halfseasonalsignal    {{halfseasonalsignal}}
estimateoffsets       {{estimateoffsets}}
estimatepostseismic   no
estimateslowslipevent no
RandomiseFirstGuess   no
TimeNoiseStart        1
DegreePolynomial      {{DegreePolynomial}}
LikelihoodMethod      FullCov
JSON                  yes
