DataFile              {{data_file}}
DataDirectory         {{data_dir}}
OutputFile            {{output_file}}
interpolate           no
seasonalsignal        {{seasonalsignal}}
halfseasonalsignal    {{halfseasonalsignal}}
estimateoffsets       {{estimateoffsets}}
IQ_factor             {{IQ_factor}}
PhysicalUnit          mm
